*.csv
*.js

# Nix
result*

# Direnv
/.direnv
/.envrc.local

# Config
srv/local.dhall

# Tests
srv/_*.archiver.test

# Terraform
.terraform
.terraform.lock.hcl

# Mac
*.DS_Store

# Cabal
dist-newstyle
cabal.project.local

# Node
node_modules

# Misc
*.bak
*.sqlite
.vercel
